hr {
    margin: 0;
}

.navigation-bar {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.log-out_button {
    height: 30px;
    vertical-align: middle;
    margin: 0.5rem 1rem;
    line-height: 0;
}

.welcome-text {
    margin: 0.5rem 1rem;
}

.auth_content {
    display: flex;
}